extends layout

block content
    .menu
      a(href="/")
        img.img-responsive.center-block.logo-sm(src="/img/bunkr_logo_color.png", alt="MyBuddy", width="100px")
    .chat-container
      .chat-left
        h3.empty.italic Get to know your Bunkr buddy before commiting to your booking
        ol.chat
          li.other
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:17
          li.self
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:18
          li.self
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:18
          li.other
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:17
          li.other
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:17
          li.self
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:18
          li.self
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:18
          li.other
            .avatar
              img(src='/img/user.png', draggable='false')
            .msg
              p This is a test message of the  fdslfksda fd fads fsda fsdf sdfsd sdjfa slf
              span.time 20:17
          input.textarea(type='text', placeholder='Type here!')
          .send.btn-round
            span.glyphicon.glyphicon-send(aria-hidden="true")
      .chat-right
        .sidebar
         .map
         .info
          h3.hotel-name.voffset5 Sheraton fdsaf f dsf fasf sdf fdsf sadf sdfsda fsdaf sdfsda fsd
          h3.price.voffset5 $99.60
          button.btn.btn-default.btn-lg.voffset5(type="button" aria-label="Left Align")
            span.glyphicon.glyphicon-usd(aria-hidden="true") HELLLO
</button>
