extends layout

block content
	h1= title
	form(method='POST', action='search')
				.form-group
					.input-group
						input.form-control(name='search', id='search', placeholder='Search for...', value=filter)
						span.input-group-btn
							button.btn.btn-success(type='submit')
								span.glyphicon.glyphicon-search(aria-hidden="true")

