extends layout

block content
    .site-wrapper.site-wrapper-home
        .cover-container
            .inner.cover
                img.img-responsive.center-block.voffset3(src="/img/bunkr_logo.png", alt="MyBuddy", width="300")
                h3.italic Sharing a matress could save you <br> 15% or more on hotel bookings
                form.form-inline(action='/signup',method='post')
                            .form-group.col-xs-12.voffset5
                                #locationSearchParent.input-group
                                    input.minimal.large(id='locationSearch', placeholder='My Destination', value=filter, name='destination')
                                    span.input-group-btn
                                        button#searchBtn.btn.btn-round(type='')
                                            span.glyphicon.glyphicon-search(aria-hidden="true")  
                            .form-group.col-xs-12.voffset5(id="dates")       
                                .input-group.date.voffset3.col-sm-6(data-provide="datepicker" id="dateIn")
                                    input.minimal.form-control(type="text", placeholder='Check-in Date', name='datein')
                                    .input-group-addon
                                        span.glyphicon.glyphicon-calendar(aria-hidden="true")
                                .input-group.date.voffset3.col-sm-6(data-provide="datepicker" id="dateOut")
                                    input.minimal.form-control(type="text", placeholder='Check-out Date', name='dateout')
                                    .input-group-addon
                                        span.glyphicon.glyphicon-calendar(aria-hidden="true")
                            .form-group.col-xs-12.voffset5
                                label Price
                                fieldset
                                    input.minimal.pricerange(type='range' value='0')
                            .form-group.col-xs-12.voffset5
                                button.btn.btn-success.btn-lg(type="button" aria-label="Left Align" data-toggle="modal" data-target="#myModal")
                                    span Pair Me Up
                            #myModal.modal.fade(role='dialog')
                              .modal-dialog
                                .modal-content
                                  .modal-header
                                    button.close(type='button', data-dismiss='modal') ×
                                    h4.modal-title We need some info to pair you up
                                  .modal-body
                                    .form-group
                                        .input-group.input-group-lg.voffset5
                                            input.minimal(id='name',type='text',value='',placeholder='Full Name',name='name')
                                        .input-group.input-group-lg.voffset5(id="email") 
                                            input.minimal(id='email',type='text',value='',placeholder='Email',name='email')    
                                  .modal-footer
                                    button.btn.btn-success(type='submit', data-dismiss='modal') Confirm
                                    button.btn.btn-danger(type='button', data-dismiss='modal') Close        

            
    script(src='/js/index.js')
